*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
*/build
/captures
.externalNativeBuild
.cxx
local.properties
lint.xml

## User settings
**/xcuserdata/**

/website/.vscode/**

## Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout