<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.genaku.reduce">

    <application
        android:name=".App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Reduce">

        <activity
            android:name=".books.BooksActivity"
            android:label="Books"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--                <activity-->
        <!--                    android:name=".counter.CounterSimpleActivity"-->
        <!--                    android:label="Counter Simple"-->
        <!--                    android:exported="true">-->
        <!--                    <intent-filter>-->
        <!--                        <action android:name="android.intent.action.MAIN" />-->
        <!--                        <category android:name="android.intent.category.LAUNCHER" />-->
        <!--                    </intent-filter>-->
        <!--                </activity>-->


        <!--        <activity-->
        <!--            android:name=".counter.CounterReduxActivity"-->
        <!--            android:label="Counter Redux"-->
        <!--            android:exported="true">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.MAIN" />-->
        <!--                <category android:name="android.intent.category.LAUNCHER" />-->
        <!--            </intent-filter>-->
        <!--        </activity>-->



        <!--        <activity-->
        <!--            android:name=".traffic.TrafficActivity"-->
        <!--            android:label="Traffic"-->
        <!--            android:exported="true">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.MAIN" />-->
        <!--                <category android:name="android.intent.category.LAUNCHER" />-->
        <!--            </intent-filter>-->
        <!--        </activity>-->

        <!--        <activity-->
        <!--            android:name=".sms.SmsActivity"-->
        <!--            android:exported="true">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.MAIN" />-->
        <!--                <category android:name="android.intent.category.LAUNCHER" />-->
        <!--            </intent-filter>-->
        <!--        </activity>-->

    </application>

</manifest>