<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.onegravity.bloc">

    <application
        android:name=".Application"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bloc">

        <activity
            android:name=".menu_compose.MainActivityCompose"
            android:exported="true"
            android:label="Kotlin Bloc"
            android:theme="@style/Theme.Bloc">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".menu.MainActivity"
            android:exported="false"
            android:label="Kotlin Bloc"
            android:theme="@style/Theme.Bloc" />

        <activity
            android:name=".counter.CounterActivity"
            android:exported="false"
            android:label="Counter Simple"
            android:theme="@style/Theme.Bloc" />

        <activity
            android:name=".counter.CounterActivityCompose"
            android:exported="false"
            android:label="Counter Compose"
            android:theme="@style/Theme.Bloc" />

        <activity
            android:name=".counter.CounterReduxActivity"
            android:exported="false"
            android:label="Counter Redux"
            android:theme="@style/Theme.Bloc" />

        <activity
            android:name=".books.BooksActivity"
            android:exported="false"
            android:label="Books"
            android:theme="@style/Theme.Bloc" />

        <activity
            android:name=".calculator.CalculatorActivity"
            android:exported="false"
            android:label="Calculator"
            android:theme="@style/AppThemeCalculator" />

        <activity
            android:name=".calculator.CalculatorActivityNoVM"
            android:exported="false"
            android:label="Calculator no VM"
            android:theme="@style/AppThemeCalculator" />

        <activity
            android:name=".posts.PostsActivity"
            android:exported="false"
            android:label="Posts"
            android:theme="@style/AppThemePosts" />

        <activity
            android:name=".posts_compose.PostsActivity"
            android:exported="false"
            android:label="Posts Compose"
            android:theme="@style/AppThemePosts" />

        <activity
            android:name=".todo.TodoActivity"
            android:exported="false"
            android:label="To Do"
            android:theme="@style/Theme.Bloc" />

    </application>

</manifest>